body {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-size: 25px;
}

.container {
	display: grid;
	justify-content: center;
	grid-template-columns: 100px repeat(7, 150px);
	grid-template-rows: repeat(11, 100px);
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	margin: 2vh 3vw;
}

.sides,
.break,
.talk {
	background-color: rgb(180, 180, 180);
}

.empty {
	grid-area: 1 / 1 / 2 / 2;
}
.stage1 {
	grid-area: 1 / 2 / 2 / 3;
}
.stage2 {
	grid-area: 1 / 3 / 2 / 4;
}
.stage3 {
	grid-area: 1 / 4 / 2 / 5;
}
.stage4 {
	grid-area: 1 / 5 / 2 / 6;
}
.stage5 {
	grid-area: 1 / 6 / 2 / 7;
}
.stage6 {
	grid-area: 1 / 7 / 2 / 8;
}
.stage7 {
	grid-area: 1 / 8 / 2 / 9;
}

.time1 {
	grid-area: 2 / 1 / 3 / 2;
}
.time2 {
	grid-area: 3 / 1 / 4 / 2;
}
.time3 {
	grid-area: 4 / 1 / 5 / 2;
}
.time4 {
	grid-area: 5 / 1 / 6 / 2;
}
.time5 {
	grid-area: 6 / 1 / 7 / 2;
}
.time6 {
	grid-area: 7 / 1 / 8 / 2;
}
.time7 {
	grid-area: 8 / 1 / 9 / 2;
}
.time8 {
	grid-area: 9 / 1 / 10 / 2;
}
.time9 {
	grid-area: 10 / 1 / 11 / 2;
}
.time10 {
	grid-area: 11 / 1 / 12 / 2;
}

.break1 {
	grid-area: 5 / 2 / 6 / 4;
}
.break2 {
	grid-area: 3 / 5 / 4 / 7;
}
.break3 {
	grid-area: 8 / 2 / 9 / 9;
}

.talk1 {
	grid-area: 2 / 2 / 5 / 4;
	background-color: rgba(0, 255, 255, 0.336);
	color: rgb(2, 173, 173);
}
.talk2 {
	grid-area: 6 / 2 / 8 / 5;
	background-color: rgba(0, 255, 255, 0.336);
	color: rgb(2, 173, 173);
}
.talk3 {
	grid-area: 2 / 4 / 6 / 5;
	background-color: rgba(0, 182, 0, 0.37);
	color: rgb(0, 182, 0);
}
.talk4 {
	grid-area: 2 / 5 / 3 / 7;
	background-color: rgba(179, 6, 6, 0.466);
	color: rgb(179, 6, 6);
}
.talk5 {
	grid-area: 4 / 5 / 8 / 7;
	background-color: rgba(179, 6, 6, 0.466);
	color: rgb(179, 6, 6);
}
.talk6 {
	grid-area: 9 / 2 / 12 / 4;
	background-color: rgba(0, 255, 255, 0.336);
	color: rgb(2, 173, 173);
}
.talk7 {
	grid-area: 10 / 4 / 12 / 7;
	background-color: rgba(0, 182, 0, 0.37);
	color: rgb(0, 182, 0);
}
.talk8 {
	grid-area: 2 / 7 / 8 / 9;
	background-color: rgba(255, 255, 0, 0.397);
	color: rgb(255, 255, 0);
}
.talk9 {
	grid-area: 9 / 7 / 12 / 9;
	background-color: rgba(255, 255, 0, 0.397);
	color: rgb(255, 255, 0);
}

.sides,
.break,
.talk {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}

.sides p,
.break p,
.talk p {
	color: black;
}

.sides mark {
	text-align: center;
	width: 100%;
	background-color: orange;
}
